# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List Libraries
- List Data Science Tools
- List examples of arithmetic expressions in Python

## Author
Andreas Meier

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Matlab
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Nympy

## Data Science Tools

| Data Science Tools |
|:-|
| ApacheSpark|
|NumPy|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
>>> -273.15
-273.15

>>> 5 - 2
3

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335